@{
    ViewData["Title"] = "Change Password Page";
    var status = ViewData["statusPassword"] as string;
}
<div style="margin-bottom:350px;" class="row">
    <div class="col-lg-3"></div>
    <div class="row rowFormAddress col-lg-6">
        <div class="col-lg-2"></div>
        <div class="col-lg-8">
            <form class="formAddress" asp-action="ChangePassword" asp-controller="ChangePassword" method="post">
                <h1>@EXE.Resources.Resource.changePassword</h1>
                <!-- == -->
                <p>@EXE.Resources.Resource.OldPassword</p>
                <input class="ipAddress" id="statusPassword" type="hidden" value="@status">
                <input class="ipAddress" id="oldpassword" name="oldPassword" type="password">
                <p class="alertChangePassword" id="alertOldPassword">@EXE.Resources.Resource.IncorrectOldPassword</p>
                <p>@EXE.Resources.Resource.NewPassword</p>
                <input class="ipAddress" id="newPassword" name="newPassword" type="password">
                <p>@EXE.Resources.Resource.Confirm</p>
                <input class="ipAddress" id="confirmNewPassword" name="confirmNewPassword" type="password">
                <p class="alertChangePassword" id="alertNewPassword">@EXE.Resources.Resource.IncorrectNewPassword</p>

                <div class="addressBtn">
                    <button class="btnAddress">@EXE.Resources.Resource.Confirm</button>
                </div>
            </form>
            <div class="overlay">
                <div class="popup-alert">
                    <h3>Thông báo</h3>
                    <p>Đây là thông báo</p>
                    <button class="btnPopup">Xác nhận</button>
                </div>
            </div>
        </div>
        <div class="col-lg-2"></div>

    </div>
    <div class="col-lg-3"></div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        var newPassword = document.getElementById("newPassword");
        var confirmNewPassword = document.getElementById("confirmNewPassword");
        var alertNewPassword = document.getElementById("alertNewPassword");
        var overlay = document.querySelector('.overlay');

        function checkPasswords() {
            if (newPassword.value !== confirmNewPassword.value) {
                alertNewPassword.style.display = "block";
                overlay.classList.add('visible');
            } else {
                alertNewPassword.style.display = "none";
                overlay.classList.remove('visible');
            }
        }

        newPassword.addEventListener("blur", checkPasswords);
        confirmNewPassword.addEventListener("blur", checkPasswords);

        var statusPassword = document.getElementById("statusPassword");
        var statusPasswordValue = statusPassword.value;
        var alertOldPassword = document.getElementById("alertOldPassword");

        if (statusPasswordValue == "changePassword") {
            alertOldPassword.style.display = "none";
        } else if (statusPasswordValue == "incorrectPassword") {
            alertOldPassword.style.display = "block";
        }
    });

</script>
